<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>CPL Manager</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>

        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- Datatable -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"></link>

    </head>
    <body>
        <h1>CPL Manager</h1>
        <p>
            Here, you can select a table, look at the data, and register any changes on it.
        </p>
        <form>
            <div>
                <label>Please, choose a table</label>
                <select id="table-select">
                    <option value="">Pick one...</option>
                    <optgroup id="table-options" label="Tables"></optgroup>
                </select>
            </div>
        </form>
        <div id="data-table-wrapper">
        </div>
        <template id="data-table-template">
            <table id="cpl-edit-table">
                <thead>
                </thead>
            </table>
        </template>

        <div class="modal fade" id="modal-edit-cell" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar texto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="id"></input>
                            <textarea name="value"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
